
body {color: blue; background: pink; font-family:"Comic Sans MS"; font-size:18pt;}
h1{  color: black; font-size: 12pt; }
h3 {  color: black; font-size: 15pt; }
h4 {  color: black; font-size: 15pt; }

.footer { font-size:9pt; text-align:center; line-height:12pt; padding-top:30pt; }


